
/* Itens externos necessarios para o projeto*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');


/*-----------------------------------------*/




*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    
    
}

/*colocando as fontes dentro de uma variavel caso queira troca, não precise altera em todos os elemento na qual ela pertence*/
:root {
    --font-primary:"baloo Da 2" ,serif;
    --font-secundary:"Josefin Slab",serif;
    --font-action:"Muli",serif;
}
.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    cursor: pointer;
    transition: 1.5s;
  


}
.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height:.1rem;
    background-color:white;
    box-shadow: 0.1rem 0.1rem 1px rgba(0,0,0);
    transition: transform 1s;
}

.show-menu #line2{
    opacity: 0;
}

.show-menu #line3{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    
    transform: rotate(-40deg);

}
.hamburguer span{
    font-family: var(--font-action);
    font-weight: 500;
    letter-spacing:0.1rem;
    position: absolute;
    left:3rem;
    background-color: #743b8d;
    height: 2rem;
    width: 6rem;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;

}

.hamburguer span::before{
    content:"";
    position: absolute;
    border-right: .7rem solid  #743b8d ;
    border-top: .5rem solid transparent;
    border-left: .7rem solid transparent;
    border-bottom: .6rem solid transparent;

    left: -1.4rem;
}

.show-menu .hamburguer:hover span{
    color: white;
    opacity: 1;
}

.show-menu #line1{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    transform: rotate(40deg);
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
    
}
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0, 0.7);
    
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
    animation: zoom 15s
    
    
}

@keyframes zoom {
 0%{
     transform: scale(1.20)


 }
 100%{
     transform: scale(1)
 }

}

.banner{
    position: absolute;
    top: 30%;
    left:15%;



}

.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight:200;
    text-shadow: 0.2rem 0.25rem 2px rgba(0,0,0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: bannerMoveH1 1.5s forwards;
    
    
    
}

@keyframes bannerMoveH1 {
    0%{
        transform: translateY(13rem) rotateY(-40deg)

    }
    90%{
        font-size: 3.7rem;
    }

    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;

    }
}
.banner p{
    font-family:var(--font-secundary);
    color: white;
    font-size: 2rem;
    text-shadow: 0.1rem 0.14rem 1.7px rgba(0,0,0, 0.4);
    font-weight: 400;
    margin-bottom: 2rem;
    opacity: 0;
    animation: bannerMovePB 1.5s 0.55s forwards;
    
}

.banner button {
    font-family: var(--font-action);
    font-size:1.1rem;
    text-transform:uppercase;
    letter-spacing:0.2rem;
    color:white;
    background: #834d9b;  /* caso o navegador seja antigo */
    background: -webkit-linear-gradient(to left, #d04ed6, #834d9b);  
    background: linear-gradient(to left, #d04ed6, #834d9b);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: bannerMovePB 1.5s 1s forwards;
    
    
    
}



.banner button:hover {
    transition: 0.5s;
    font-size:1.15rem;
    
    
}

@keyframes bannerMovePB {
    0%{
        transform: translateY(12rem) rotateY(-40deg)
        
    }
    90%{
        font-size: 2.1rem;
    }
    
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}
.sidebar{
    width:20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    opacity: 0;
    transition: all 1s;
    z-index: 1;

}
.show-menu .sidebar{
 
    opacity: 1;
    right: 0;

}

.menu{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%)

}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
color: #555;
}

.menu-link:hover{
    transition:color 0.8s;
    color:rgb(116, 59, 141);

}

.social-midia{
    
    position:absolute;
    bottom:2rem;
    width:100%;
    display: flex;
    justify-content:space-evenly;

}

.social-midia i{
    background-color: rgb(116, 59, 141);
    color: white;
    height: 2.6rem;
    width: 2.6rem;
    font-size:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;

}

.social-midia i:hover{
    transition:background-color 0.8s;
    background-color: rgb(147, 88, 172);

}


/* css do section parte de conhecimentos */


.conhecimentos{
    display:grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(6,6rem);
    row-gap: 2rem ;

}
.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row:1 / 3;


}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row:3 / 5;


}
.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row:5 / -1;


} 
.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;


}

.conhecimento:nth-child(5){
    grid-column: 12/15;
    grid-row:3/5;


}

.conhecimento:nth-child(6){
    grid-column: 11/14;
    grid-row: 5/-1;


}

.sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #727172;
    border-bottom: solid 3px #834d9b;
    margin-bottom: 2rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: #727172;
    
}
.conhecimento-header i{
   font-size:2.5rem;
    
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size:2rem;
    padding-left: 0.5rem;
     
 }

 .conhecimento-text{
    font-family: var(--font-secundary);
    
    padding-top: 0.5rem;
    text-align:justify
     
 }
 .conhecimentos-img-wrapper{
    grid-column:7/11;
    grid-row: 3/6;
    width: 100%;


 }

 .conhecimentos-img-wrapper img{
     object-fit: cover;
     width: 100%;
   
}

/* css do section parte de Projetos */

.projetos{
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
}

.card{
    width:18rem;
    height:28rem;
    position:relative;
}

.card-img-wrapper{
    width:100%;
    height: 100%;
    background-color: rgb(118, 116, 116);
    border-radius:0.5rem;
}
.card-img-wrapper img{
    object-fit:cover;
    width: 100%;
    height:100%;
    border-radius:0.5rem;
    opacity: .8;
    transition: opacity .5s .1s;
    
}
.card:hover .card-img-wrapper img{
    opacity: 0.5;
}

.card-info{
    opacity: 0;
    visibility:hidden;
    position:absolute;
    bottom:0rem;
    padding:2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,.4);
    transition: all .5s;
  

}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight:500;
    color: rgb(234, 233, 233);

}
.card-info h3{
    font-family: var(--font-action);
    font-weight:bolder;
    color:rgb(222, 131, 131);
    margin-bottom:2rem;
}
.card-info p{
    font-family: var(--font-secundary);
    font-weight:600;
    text-align: justify;
    color: white;
    width:95%;
    margin-bottom: 2rem;
}

.card-info button{
   width: 7rem;
   height:2rem;
   background: #834d9b;  /* caso o navegador seja antigo */
    background: -webkit-linear-gradient(to left, #d04ed6, #834d9b);  
    background: linear-gradient(to left, #d04ed6, #834d9b);
    font-family: var(--font-action);
    font-size: 1.1rem;
    color: white;
    border-radius: .3rem;
    border:none;
    cursor:pointer;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 0.6)
}
.card:hover .card-info{
    bottom: 2rem;
    opacity: 1 ;
    visibility: visible;
}



/* Css responsavel pela parte de contatos*/


.sessao-contato{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
   

    background-color:rgb(114, 113, 114)
}

.contato-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: .1rem .1rem 10rem    .1rem rgba(0,0,0,.9);
}
.contato-left{
    width:35%;
    background:
    linear-gradient(rgba(15,15,15,0.5), rgba(22, 22, 22,0.8)),
    url(img/contato.jpg);
    background-size: cover;
}
.contato-right{
    width:65%;
    background-color: #eee;
    padding:1rem 3rem 3rem 3rem;
}

.sessao-contato h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color:#272727;
    font-size: 3rem;
    font-weight:lighter;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
  
}

.input-group{
    position: relative;
}
.input-group textarea{
    max-width: 27rem;
    max-height: 3rem;
    
}

.field{
    width: 100%;
    border: none;
    border-bottom: 0.15rem dashed;
    margin-top: 2rem;
    outline: none;
    text-transform: uppercase;
    font-family: var(--font-secundary);
    background-color: transparent;
  
}

.field:focus {
    border-bottom: 0.15rem solid;
    
}


.field-labal{
    font-family: var(--font-secundary);
   
    position:absolute;
    left: 0;
    top: 0.7rem;
    font-size:1.2rem;
    transition:all 0.4s;
    
    


}

.field:focus ~.field-labal{
    position:absolute;
    left: 0;
    top: 0rem;
    
}


.btn-contato{
    width: 7rem;
    height:2rem;
    background: #834d9b;  /* caso o navegador seja antigo */
     background: -webkit-linear-gradient(to left, #d04ed6, #834d9b);  
     background: linear-gradient(to left, #d04ed6, #834d9b);
     font-family: var(--font-action);
     font-size: 1.1rem;
     text-transform: uppercase;
     letter-spacing:0.1rem;
     color: white;
     border-radius: .3rem;
     border:none;
     cursor:pointer;
     box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 0.6);
     margin-top: 1rem;
     align-self: center;
     

}

.btn-contato:hover{
    width: 7.2rem;
    height:2.2rem;
    
     

}
